.banner{
    position: relative;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240911/pngtree-macro-image-of-wildflowers-in-sunset-meadow-image_16161266.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
}

.nav-bar{
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px,20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.nav-bar a:hover{
    text-decoration: underline;
}

.banner-heading{
    text-align: center;
    padding-top: 200px;
    font-size: 36px;
    font-weight: bold;
}